Your Ticket number is: <%= @pick.number %>
Result:
<% if @pick.result == 'JACKPOT' %>
    <p>WOOOOOWWW YOU WON !!! JACKPOT , CONGRATS</p>
<% elsif @pick.result == 'You did not win' %>
    <p> Sorry, you didnt win but please keep trying</p>
<% else %>
    <p><%= @pick.result %>, CONGRATS</p>
<% end %>
