/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require css/foundation.min
 *= require css/normalize
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

body {
  background-color: rgb(51, 151, 218);
}
nav{
  color: rgb(51, 151, 218);
}
top-bar-section{
  background-color: rgb(71, 151, 255);
}
#progressbar {
  padding-top: 1em;
  overflow: hidden;
  counter-reset: step;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 70%;
}

#progressbar li {
  list-style-type: none;
  color: black;
  text-transform: uppercase;
  font-size: 9px;
  width: 33.33%;
  float: left;
  position: relative;
}

#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  line-height: 20px;
  display: block;
  font-size: 10px;
  color: #333;
  background: rgb(64,242,255);
  border-radius: 3px;
  margin: 0 auto 1px auto;
}

#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1;
}

#progressbar li:first-child:after {
  content: none;
}

#progressbar li.active:before,  #progressbar li.active:after{
  background: white;
  color: rgb(71, 151, 255);
}

.fs-title {
  font-size: 15px;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 10px;
}

.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}

.form-content  {
   padding-top: 1em;
}

#msform {
  width: 400px;
  margin: 10px auto;
  text-align: center;
  position: relative;
  border-radius: 45px;
}

#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 3px;
  padding: 30px 30px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 70%;

  box-sizing: border-box;
  width: 80%;
  margin: 1 3%;
  height: 80%
}

#msform fieldset:not(:first-of-type) {
  display: none;
}

#msform input, #msform textarea{
  padding: 3px;
  border: 1px solid black;
  width: 30px;
  border
}

#msform .action-button {
  width: 100px;
  background: rgb(71, 151, 255);
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

#msform .action-button:hover, #msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px rgb(71, 151, 255);
}

#pick_number1 {
  border-radius: 12px;
  border-color: grey;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.4);
}

#pick_number2 {
  border-radius: 12px;
  border-color: grey;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.4);
}
#pick_number3 {
  border-radius: 12px;
  border-color: grey;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.4);
}
#pick_number4 {
  border-radius: 12px;
  border-color: grey;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.4);
}
#pick_number5 {
  border-radius: 12px;
  border-color: grey;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.4);
}
#pick_number6 {
  border-radius: 12px;
  border-color: grey;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.4);
}
#pick_draw_date {
  min-width: inherit;
}
#msform input{
  min-width: 100% !important;
}
#msform .action-button {
  width: 50% ;
}
