/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require css/foundation.min
 *= require css/normalize
 *= require font-awesome
 *= require_tree .
 *= require_self
 */
input{
  border-color: rgba(83, 83, 83, 0.2) !important;
  text-align: center;
}
html,body{
  font-family: 'Helvetica-Neue' !important;
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: rgb(51, 151, 218);
}
nav{
  height: 100px !important;
  background-color: rgba(0, 0, 0, 0.0) !important;
}
p{
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif !important;
  color: white;
}
.right .nav_list{
  margin-top: 50px;
  background-color: rgba(0, 0, 0, 0) !important;
}
.right a{
  background-color: rgba(0, 0, 0, 0) !important;
}
li.miltip{
  display: inline-block !important;
}
.pick-num{
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif !important;
  font-size: 1em;
  text-align: left;
  margin-left: 20px;
  font-weight: 700;
}
.pick-date{
 font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif !important;
 text-align: left;
 margin-left: 20px;
 color: grey !important;
}
.pick-items{
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: black;
}
#progressbar {
  padding-top: 1em;
  overflow: hidden;
  counter-reset: step;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 70%;
}

#progressbar li {
  list-style-type: none;
  color: black;
  text-transform: uppercase;
  font-size: 9px;
  width: 33.33%;
  float: left;
  positin: relative;
}
.off-canvas-wrap{
  position: relative;
}

#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  line-height: 20px;
  display: block;
  font-size: 10px;
  color: #333;
  background: rgb(64,242,255);
  border-radius: 3px;
  margin: 0 auto 1px auto;
}

#progressbar li:first-child:after {
  content: none;
}

#progressbar li.active:before,  #progressbar li.active:after{
  background: white;
  color: rgb(71, 151, 255);
}

.fs-title {
  font-size: 15px;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 10px;
}

.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}

.form-content  {
   padding-top: 1em;
}
@media screen and (min-width: 700px) {
    #msform {
  width: 400px;
  margin: 10px auto;
  text-align: center;
  position: relative;
  border-radius: 45px;
  }
}


#msform .field-section {
  background: white;
  border: 0 none;
  border-radius: 3px;
  padding: 30px 30px;
  position: relative;
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;
  width: 70%;

  box-sizing: border-box;
  width: 80%;
  margin: 1 3%;
  height: 80%
}
.navi{
  height: 48px;
}
#username{
  color:white;
  background-color: rgba(83, 83, 83, 0.6);
  font-size: 1.5em;
}
a#username{
  pointer-events: none;
   cursor: default;
}
#msform .field-section:not(:first-of-type) {
  display: none;
}

#msform input, #msform textarea{
  padding: 3px;
  border: 1px solid black;
  /*width: 30px;*/
}

.action-button {
  background: rgb(71, 151, 255);
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 43% !important;
  margin: 10px 0 !important;
  font-size: 1em;
}
a.action-button:hover{
  color: white;
}

.logo {
  height: 50px;
}
#msform .action-button:hover, #msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px rgb(71, 151, 255);
}

#pick_number1 {
  border-radius: 12px;
  font-size: 20px;
  text-align: center;
  width: 40px !important;
  border-width: 1px !important;
  border-color: rgba(83, 83, 83, 0.4) !important;
  box-shadow: 0 0 0px 1px rgba(83, 83, 83, 0.4);
}

#pick_number2 {
  border-radius: 12px;
  font-size: 20px;
  text-align: center;
  width: 40px !important;
  border-width: 1px !important;
  border-color: rgba(83, 83, 83, 0.4) !important;
  box-shadow: 0 0 0px 1px rgba(83, 83, 83, 0.4);
}
#pick_number3 {
  border-radius: 12px;
  font-size: 20px;
  text-align: center;
  width: 40px !important;
  border-width: 1px !important;
  border-color: rgba(83, 83, 83, 0.4) !important;
  box-shadow: 0 0 0px 1px rgba(83, 83, 83, 0.4);
}
#pick_number4 {
  border-radius: 12px;
  font-size: 20px;
  text-align: center;
  width: 40px !important;
  border-width: 1px !important;
  border-color: rgba(83, 83, 83, 0.4) !important;
  box-shadow: 0 0 0px 1px rgba(83, 83, 83, 0.4);
}
#pick_number5 {
  border-radius: 12px;
  font-size: 20px;
  text-align: center;
  width: 40px !important;
  border-width: 1px !important;
  border-color: rgba(83, 83, 83, 0.4) !important;
  box-shadow: 0 0 0px 1px rgba(83, 83, 83, 0.4);
}
#pick_number6 {
  border-radius: 12px;
  font-size: 20px;
  text-align: center;
  width: 40px !important;
  border-width: 1px !important;
  border-color: rgba(83, 83, 83, 0.4) !important;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.4);
}
#pick_draw_date {
  min-width: inherit;
}
#msform input{
  min-width: 100% !important;
}
.pending{
  font-size: 0.7em;
  color: grey;
  font-weight: 300;
}
.previous{
  position: relative;
  border-style: none !important;
  background-color: none!important;
  color: rgb(51, 151, 218);
  padding: 10px 38% !important;
  top: 11px !important;
  font-size: 0.8em;
}
a.previous:hover{
  color: rgb(51, 151, 218);
}
.important{
  height: 60px !important;
  background: rgb(71, 151, 255);
  font-weight: bold;
  color: white;
  font-size: 1em;
}
.important:hover{
  box-shadow: 0 0 0 2px white, 0 0 0 3px rgb(71, 151, 255);
  cursor: pointer;
}
.no_important:hover{
  box-shadow: 0 0 0 2px white, 0 0 0 3px rgb(71, 151, 255);
  cursor: pointer;
}
.logo2{
  width: 100px !important;
  margin: 0 auto;
}
.centered{
  text-align: center !important;
}
.user-picks{
  background-color: white;
  width: 95%;
  color: black;
  border: 0 none;
  border-radius: 20px;
  padding: 10px 5px;
}

.user-picks p{
  color: black;
}

h1{
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  letter-spacing: -2px;
  font-style: normal;
  margin-top: 3rem;
  line-height: 1.4;
  color: black;
}
.history-description{
  color: white;
  font-size: 140%;
  margin-top: -1.5rem;
}
.trash{
  width: 25px;
  height: auto;
  margin-top: -2em;
}
<<<<<<< HEAD
/*.button.medium.default.radius.nav-button{
  background-color: rgb(67,242,255);
}*/
=======
>>>>>>> Add changes on pick history styling
.edit-button{
  width: 200px !important;
  font-size: 1.5em;
  font-family: font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  color: white;
  background-color:
  blue;
  height: 50px;
  border-radius: 5px !important;
}
.desc-field{
  text-align: left;
  font-size: 1.5em !important;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif !important;
<<<<<<< HEAD
}
.imput-field{
  height: 50px !important;
  font-size: 2em !important;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif !important;
}
.desc-create{
  text-align: left;
  font-size: 1.5em !important;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif !important;
}


.pick-items {
  border-bottom-style: double;
=======
>>>>>>> Add changes on pick history styling
}
.imput-field{
  height: 50px !important;
  font-size: 2em !important;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif !important;
}
.desc-create{
  text-align: left;
  font-size: 1.5em !important;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif !important;
}

.pick-info{
  margin-top: -1em;
}
h3{
  color: rgb(51,151,218);
}
.number-row{
  font-size: 18pt;
}
.exit_icon{
  height: 35px;
  width: auto;
  margin-left: 4%;
  margin-bottom: -40px;
}
.tool_icon{
  height: 35px;
  width: auto;
  margin-left: 4%;
  margin-bottom: -40px;
}
.jumping_icon{
  height: 40px;
  width: auto;
  margin-bottom: -40px;
}
.home_icon{
  height: 40px;
  width: auto;
  margin-bottom: -40px;
}
.key_icon{
  height: 40px;
  width: auto;
  margin-left: 4%;
  margin-bottom: -40px;
}
.create_icon{
  height: 40px;
  width: auto;
  margin-left: 4%;
  margin-bottom: -40px;
}
.off-canvas-list{
  width:100%;
}
.set-width{
  width: 305px;
}
.exit-off-canvas{
  height: 500%;
}
.left-off-canvas-menu{
  height: 599%;
}
.off-canvas-menu{
  height: 500%;
}
.height{
  height: 45px;
}

@media only screen and (max-width: 700px) {
  .number-row{
    font-size: 12pt !important;
  }
  .pick-date{
    font-size: 9pt !important;
    margin-top: -20px !important;
  }
  .trash-pic{
    position: relative;
    top: 30px;
    left: 20px;
  }
  .pick-items{
    height: 80px;
  }
  .desc-field{
    display: none;
  }
  .imput-field{
    height: 90px !important;
    font-size: 2em !important;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif !important;
  }
  .edit-button{
    width: 100% !important;
    font-size: 2em;
    font-family: font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    color: white;
    background-color:
    blue;
    height: 100px;
    border-radius: 0 !important;
  }

}

@media only screen and (max-width: 700px) {
      .desc-field{
        display: none;
      }
      .imput-field{
        height: 90px !important;
        font-size: 2em !important;
        font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif !important;
      }
      .edit-button{
        width: 100% !important;
        font-size: 2em;
        font-family: font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
        color: white;
        background-color:
        blue;
        height: 100px;
        border-radius: 0 !important;
      }

  }
.trash-pic{
  margin-top: -50px !important;
  margin-right: 40px;
  float: right;
}

ul.off-canvas-list li a:hover {
      background: none!important;
}
li{
  padding: 0 !important;
}
.error_message{
  color: white !important;
  text-align: center;
  background: #F04124;
  padding: 2px;
}

.notice_message{
  color: white;
  background-color: #43AC6A;
  text-align: center;
  padding: 10px;
}
.notice{
  font-weight: 200;
}
.beta{
  color: red !important;
  font-size: 0.7em !important;
  letter-spacing: 1px !important;
  position: relative;
  top:10px !important;
  left: -10px;
  font-weight: 700 !important;
}
