<div class = "landing">
  <div class='row'>

    <div class="small-12 large-7 columns centered hide-if-app-click">
      <h1 class = 'main-phrase'>NEVER MISS A DRAW AGAIN</h1>
      <a class = 'appstore-link' href="#"><%= image_tag("appstore.png", class:"appstore") %></a>
      <div class='email-form-1'>
        <p>We are working hard on our IOS app, please leave us you e-mail and we will notify you when is ready</p>
      <form class ='get-email-form-1' action="">
              <input class ='email-1' type="email" placeholder='email'></input>
              <input class = 'submit-email-1' type="submit" value='send'></input>
          </form>
      </div>
      <p class= "or"> - or - </p>
      <div>
      <a href="/signup"><div class = 'use-web-link'><p class='web-link-text'>Use it on Web</p></div></a>
      <p class='explain'>It's simple, tell us your ticket number and we will notify you if you won and how much.</p>
      </div>
    </div>
    <div class="phone-div small-12 large-5 columns centered">
      <div class = 'phone'>
      <%= image_tag("frame-1-inner-phone.png", class:"inner-phone") %>
      <%= image_tag("iphone-frame.png", class:"phone-frame") %>
      </div>
      <div class='background-phone'>
        <p class='phone-content'> thank you</p>
        <!-- <div class ='get-email'>
          <form class ='get-email-form' action="">
              <input class ='phone-email' type="email" placeholder='email'></input>
              <input class = 'submit-email' type="submit" value='send'></input>
          </form>
        </div> -->
      </div>
    </div>
  </div>

</div>