<div class = "landing">
  <div class='row'>
    <div class="small-12 large-6 columns centered">
      <div class = 'phone'>
      <%= image_tag("frame-1-inner-phone.png", class:"inner-phone") %>
      <%= image_tag("iphone-frame.png", class:"phone-frame") %>
      </div>
    </div>
    <div class="small-12 large-6 columns centered">
      <h1 class = 'main-phrase'>NEVER MISS A DRAW AGAIN</h1>
    <%= image_tag("appstore.png", class:"appstore") %>
    <p>Its simple, tell us your ticket number and we will notify you if you won and how much.</p>
  </div>
  </div>

</div>